minerd*
cpuminer
*.exe
*.o
*.d
gmon.out

bin/unix/
bin/win/

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
configure.lineno
depcomp
missing
install-sh
stamp-h1
cpuminer-config.h*
compile
config.log
config.status
config.status.lineno
config.guess
config.sub

mingw32-config.cache

*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
*/*/*/*/.dirstamp
*.iml

*.vcxproj.user
*.opensdf
*.sdf
*.suo
Release/
Debug/
x64/Release/
x64/Debug/
*.pdb/

installer/
res/cpuminer.aps
res/RC*
sign/
sign.sh

compat/curl-for-windows/
/.vs/cpuminer-gr-avx2/v17/Browse.VC.opendb
/.vs/cpuminer-gr-avx2/v17/Browse.VC.db
/.vs/cpuminer-gr-avx2/v17/Browse.VC.db-shm
/.vs/cpuminer-gr-avx2/v17/Browse.VC.db-wal
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/cpuminer-gr-avx2/project-colors.json
/.vs
